/*start page*/
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
}



.image {
    width: 100vw; /* Fill the browser width */
    height: 100vh; /* Fill the browser height */
}

.image .img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Prevent stretching while filling */
}

/*cob logo*/
.image {
    width: 549px;
    height: 549px;
}

.image .removebg {
    position: fixed;
    top: 0;
    left: 0;
    width: 549px;
    height: 549px;
    aspect-ratio: 1;
    object-fit: cover;
}
